<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-sm navbar-brand bg-dark">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" th:href="@{/logout}" class="nav-link">Login page</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                <a href="#" th:href="@{/users/allusers}" class="nav-link">All users</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<form action="#" class="container" th:action="@{/users/add}" th:object="${userDTO}" method="post">
    <h1 style="color: #a1134c">Registration for a new user</h1>
    <div class="col-sm-3">
        <label for="firstName" class="form-label">Enter first name:</label>
        <input type="text" th:field="*{firstName}" id="firstName"
               class="form-control">
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Firstname error</div>
    </div>
    <div class="col-sm-3">
        <label for="lastName" class="form-label">Enter last name:</label>
        <input type="text" th:field="*{lastName}" id="lastName"
               class="form-control">
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname error</div>
    </div>
    <div class="col-sm-3">
        <label for="patronymic" class="form-label">Enter patronymic:</label>
        <input type="text" th:field="*{patronymic}" id="patronymic"
               class="form-control">
        <div th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic error</div>
    </div>
    <div class="col-sm-3">
        <label for="username" class="form-label">Enter username:</label>
        <input type="text" th:field="*{username}" id="username"
               class="form-control">
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    </div>
    <div class="col-sm-3">
        <label for="password" class="form-label">Enter password:</label>
        <input type="text" th:field="*{password}" id="password" placeholder="******"
               class="form-control">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    </div>
    <div>
        <label><span>Choose role:</span>
            <select class="form-select" th:object="${roles}" th:name="role">
                <option th:each="role : ${roles}"
                        th:value="${role.name}"
                        th:utext="${role.name}"></option>
            </select>
        </label></div>
    <br>
    <button type="submit" class="btn btn-primary">Add</button>
    <button type="reset" class="btn btn-primary">Reset</button>
    <button type="button" onclick="goBack()" class="btn btn-primary">Back</button>
</form>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>