<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Item page</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<form action="#" class="container" th:action="@{/show-item-by-id}" method="post">
    <h3>Full item information</h3>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.description}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <button type="button" onclick="goBack()" class="btn btn-primary">Back</button>
</form>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>