<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-sm navbar-brand bg-dark">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" th:href="@{/logout}" class="nav-link">Login page</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                <a href="#" th:href="@{/users/allusers}" class="nav-link">All users</a>
            </li>
            <li class="nav-item">
                <a href="#" th:href="@{/items}" class="nav-link">Items</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<form action="#" class="container-fluid" th:action="@{/orders/show}">
    <h2 style="color: #a1134c">List of orders</h2>
    <div sec:authorize="isAuthenticated()">
        You are authenticated as <span sec:authentication="name"></span></div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>number of order</th>
            <th>status</th>
            <th>item</th>
            <th>count of items</th>
            <th>final price</th>
            <th sec:authorize="hasRole('ROLE_SALE_USER')">link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${itemPage.items}">
            <td th:text="${item.orderId}"></td>
            <td th:text="${item.statusType}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.count}"></td>
            <td th:text="${item.finalPrice}"></td>
            <td sec:authorize="hasRole('ROLE_SALE_USER')">
                <a th:href="@{/orders/show-order-by-id/(id=${item.orderId})}"><span>More details</span></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${itemPage.pagesCount gt 0}"
         th:each="pageNumber : ${itemPage.numbersOfPages}">
        <a th:href="@{'/orders/show?page=' + ${pageNumber}}"
           th:text="${pageNumber}"
           th:name="page" th:value="${pageNumber}"> </a>
    </div>
</form>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>