<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update status</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<form action="#" class="container" th:action="@{/orders/update-status}" th:object="${orderShowDTO}" method="post">
    <h1 style="color: #a1134c">Update order status page</h1>
    <div>
        <input type="hidden" th:field="*{id}">
    </div>
    <div>
        <label><span>Choose status:</span>
            <select class="form-select" th:object="${statuses}" th:name="status">
                <option th:text="${orderShowDTO.statusType}"></option>
                <option th:each="status : ${statuses}"
                        th:value="${status.name}"
                        th:utext="${status.name}"></option>
            </select>
        </label></div>
    <br>
    <button type="submit" class="btn btn-primary">Update status</button>
    <button type="button" onclick="goBack()" class="btn btn-primary">Go Back</button>
</form>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>