<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update status</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<form action="#" class="container" th:action="@{/orders/update-status}" th:object="${orderShowDTO}" method="post">
    <h1 style="color: #a1134c">Update order status page</h1>
    <div>
        <input type="hidden" th:field="*{id}">
    </div>
    <div>
        <label><span>Choose status:</span>
            <select class="form-select" th:object="${statuses}" th:name="status">
                <option th:text="${orderShowDTO.statusType}"></option>
                <option th:each="status : ${statuses}"
                        th:value="${status.name}"
                        th:utext="${status.name}"></option>
            </select>
        </label></div>
    <br>
    <button type="submit" class="btn btn-primary">Update status</button>
    <button type="button" onclick="goBack()" class="btn btn-primary">Go Back</button>
</form>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<footer class="text-center text-lg-start bg-light text-muted mt-5 py-4 shadow-sm">
    <div class="container text-center text-md-start">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h6 class="text-uppercase fw-bold mb-3">Online-store</h6>
                <p>Интернет-магазин зоотоваров</p>
            </div>
            <div class="col-md-4 mb-3">
                <h6 class="text-uppercase fw-bold mb-3">Контакты</h6>
                <p><i class="bi bi-geo-alt me-2"></i> ул. Примерная, 123, Минск</p>
                <p><i class="bi bi-envelope me-2"></i> test@online-store.com</p>
                <p><i class="bi bi-telephone me-2"></i> +375 (44) 123-45-67</p>
            </div>
            <div class="col-md-4 mb-3">
                <h6 class="text-uppercase fw-bold mb-3">Полезные ссылки</h6>
                <p><a href="#" class="text-reset text-decoration-none">О нас</a></p>
                <p><a href="#" class="text-reset text-decoration-none">Услуги</a></p>
                <p><a href="#" class="text-reset text-decoration-none">Поддержка</a></p>
            </div>
        </div>
    </div>

    <div class="text-center p-3 border-top">
        © 2025 Online-store. Все права защищены.
    </div>
</footer>
</body>
</html>